//
//
.selected-category-page {
  background-color: orange;
  background-color: pink;
  background-color: white;
  width: 600px;


  .selected-category-title {
    margin-top: 1px;
    font-size: 2rem;
  }

  .line-top {
    border-top: 1px dotted white;
    border-color: red;
    margin-top: 40px;
  }

  .nav-links {
    color: red;

    .selected-category-navigation {
      background-color: yellowgreen;
      color: red;
    }

  }

}