//
//

.selected-category-page {
  // width: 600px;
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
  font-family: $base-font-text;
  font-size: 1.25rem;
  font-weight: 400;

  color: white;


  .selected-category-title {
    // background-color: red;
    font-family: Exo-light;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 48px;
    margin-top: 48px;
    margin-bottom: 21.4px;
    padding-bottom: 24px;


    border-bottom: 1px dotted #ffffff;

  }

  // .line-top {
  //   border-top: 1px dotted white;
  //   border-color: red;
  //   margin-top: 40px;
  // }

  .line-bottom {
    border-top: 1px dotted white;
    // border-color: blue;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  @include desktop {
    // background-color: yellow;
    width: 666px;
    max-width: 1080px;
    margin: 0 auto;

    a {
      font-size: 1.25rem;
    }


    &::before {

      content: '\f10d';
      font-family: 'FontAwesome';
      font-weight: 700;
      position: absolute;
      top: 200px;
      left: 25px;


      // transform: translateY(-50%);
      font-size: 125px;
      color: $brand-green;
    }

    &::after {
      content: '\f10e';
      font-family: 'FontAwesome';
      font-weight: 700;
      position: absolute;
      top: 200px;
      right: 25px;

      // transform: translateY(-50%);
      font-size: 125px;
      color: $brand-green;
    }

  }

}