//
// 

.selected-author-page {
    // background-color: green;
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
    font-family: $base-font-text;
    font-size: 1.25rem;
    font-weight: 400;

    color: white;

    .author-quote {
        margin-bottom: 1.25rem;
    }

    .author-author {
        margin-top: 3rem;
    }

    a {
        color: brand-green;
    }

    #quote-button {
        background: $color-main-background;
        border: 2px solid $brand-green;
        color: $brand-green;
        font-weight: 400;
        font-size: 1rem;
        padding: 15px 30px;
        display: flex;
        margin-top: 5rem;
        flex-direction: column;
    }


}