//
//
.selected-tag-page {
    width: 600px;


    .selected-tag-title {
        margin-top: 50px;
        font-size: 2rem;
    }

    .line-top {
        border-top: 1px dotted white;
        border-color: red;
        margin-top: 40px;
    }

    //nav-links was here

    @include desktop {
        // background-color: yellow;
        width: 666px;
        max-width: 1080px;
        margin: 0 auto;


        .submit-a-quote a {
            font-size: 1rem;
        }

        &::before {

            content: '\f10d';
            font-family: 'FontAwesome';
            font-weight: 900;
            position: absolute;
            top: 200px;
            left: 25px;


            // transform: translateY(-50%);
            font-size: 125px;
            color: $brand-green;
        }

        &::after {
            content: '\f10e';
            font-family: 'FontAwesome';
            font-weight: 900;
            position: absolute;
            top: 200px;
            right: 25px;

            // transform: translateY(-50%);
            font-size: 125px;
            color: $brand-green;
        }

    }



}