//
//
.selected-tag-page {
    // background-color: orange;
    // background-color: pink;
    // background-color: white;
    width: 600px;


    .selected-tag-title {
        margin-top: 1px;
        font-size: 2rem;
    }

    .line-top {
        border-top: 1px dotted white;
        border-color: red;
        margin-top: 40px;
    }

    //nav-links was here

}