.selected-tag-page {
    // width: 600px;
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
    font-family: $base-font-text;
    font-size: 1.25rem;
    font-weight: 400;
    color: white;


    .selected-tag-title {
        // background-color: red;
        font-family: $base-font-heading;
        font-size: 31px;
        font-weight: 700;
        line-height: 48px;
        margin-top: 48px;
        margin-bottom: 21.4px;
        padding-bottom: 24px;
        border-bottom: 1px dotted #ffffff;
    }

    .tag-quote {
        font-size: 1.25rem;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: $base-spacing;
    }

    .tag-author {
        font-size: 1.25rem;
        line-height: 30px;
        font-weight: 400;
    }


    .line-bottom {
        border-top: 1px dotted white;
        // border-color: blue;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @include tablet {

        .tag-quote {
            font-size: 1.75rem;
            line-height: 42px;
        }

    }

    @include desktop {

        // background-color: yellow;
        width: 666px;
        max-width: 1080px;
        margin: 0 auto;


        .tag-quote {
            font-size: 2.5rem;
            line-height: 60px;
        }

        &::before {

            content: '\f10d';
            font-family: 'FontAwesome';
            font-weight: 900;
            position: absolute;
            top: 200px;
            left: 25px;


            // transform: translateY(-50%);
            font-size: 125px;
            color: $brand-green;
        }

        &::after {
            content: '\f10e';
            font-family: 'FontAwesome';
            font-weight: 900;
            position: absolute;
            top: 200px;
            right: 25px;

            // transform: translateY(-50%);
            font-size: 125px;
            color: $brand-green;
        }

    }

}