// colors


$brand-green: #00cc00;
$color-main-background: #222222;

$base-font-size: 1rem;
$base-font-color: #ffffff;
$base-line-height: 1.5;

$width-desktop: 1080;
$width-tablet: 600;
$width-max: 1080;

$font-main: Exo;
$font-weight: 300;

$base-margin: 0 auto;

$border-dashed: 1px dashed #ffffff;