//
//
$brand-green: #00cc00;

$color-main-background: #222222;
$color-background-input: #222222;
$color-text: #ffffff;
$color-heading: #ffffff;
$color-link: #00cc00;


$base-font-size: 1rem;
$base-font-color: #ffffff;
$base-font-heading: Exo-Medium,
sans-serif;
$base-font-text: Exo-Light,
sans-serif;


$base-line-height: 1.5;
$base-spacing: 1.5rem;

$width-desktop: 1080px;
$width-tablet: 600px;
$width-max: 1080px;

$font-main: Exo-Light,
sans-serif;
$font-accent: Exo-Medium,
sans-serif;
$font-weight: 300;

$base-margin: 0 auto;

$border-dashed: 1px dashed #ffffff;