.page-not-found {
    font-family: $base-font-text;
    font-size: 1rem;

    h1 {
        font-family: $base-font-heading;
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        font-family: $base-font-text;
        font-family: Exo-Light;
        font-weight: 400;
        font-size: 1rem;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    @include desktop {
        // background-color: yellow;
        width: 666px;
        max-width: 1080px;
        margin: 0 auto;

        a {
            font-size: 1.25rem;
        }

        &::before {

            content: '\f10d';
            font-family: 'FontAwesome';
            font-weight: 900;
            position: absolute;
            top: 175px;
            left: 25px;

            // transform: translateY(-50%);
            font-size: 125px;
            color: $brand-green;
        }

        &::after {
            content: '\f10e';
            font-family: 'FontAwesome';
            font-weight: 900;
            position: absolute;
            top: 175px;
            right: 25px;

            // transform: translateY(-50%);
            font-size: 125px;
            color: $brand-green;
        }

    }

}

.search-form {

    .search-field {
        margin-left: 0px;
        // height: 5rem;
    }

    .fas {
        margin-left: 15px;
        text-transform: none;
    }

    .search-input {
        background-color: transparent;
        background-color: #222222;
        width: 260px;
        border: 2px solid $brand-green;
        border-radius: 3px;

        margin-bottom: 1.5rem;

        color: #000000;
        color: white;
        font-family: $base-font-text;
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        padding: .25rem .5rem;
        line-height: 1.5rem;

    }

}