.content-area {

    color: white;

    .about-info {
        margin-bottom: 1.5rem;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
    }

}

@include desktop {
    .site-main {
        width: 100%;
        display: flex;
        flex-direction: column;

        .entry-header {
            margin-top: 1px;
            margin-bottom: 1px;
        }

        .about-quotes {
            margin-top: 25px;
        }

        .type-page {
            position: relative;
            display: flex;
            flex-flow: column wrap;
            padding-right: 10rem;
            padding-left: 10rem;

            &::before {
                content: '\f10d';
                font-family: 'FontAwesome';
                font-weight: 900;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 125px;
                color: $brand-green;
            }

            &::after {
                content: '\f10e';
                font-family: 'FontAwesome';
                font-weight: 900;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 125px;
                color: $brand-green;
            }
        }
    }
}