.submit-a-quote {
    // background-color: pink;
    font-size: 1rem;

    h1 {
        font-size: 2em;
        line-height: 48px;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 1.3rem;
    }

    h2 {
        // background-color: red;
        font-family: $base-font-text;
        font-size: 1rem;
        line-height: 24px;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        // background-color: red;

    }

    label {
        margin-bottom: 10px;
        font-size: 1rem;
        // background-color: red;
    }

    input {
        font-size: 1rem;
        margin-bottom: 20px;
        background-color: $color-background-input;
        background-color: black;
        border: 2px solid $brand-green;
        border-radius: 2px;
        height: 30px;
        color: white;
        cursor: text;
    }

    #submit {
        color: $brand-green;
        background-color: $color-main-background;
        width: 150px;
        margin-top: 25px;
        height: 30px;
        padding: 2px 5px;
        font-size: 1rem;
        cursor: pointer;
    }

    #form-author,
    #form-source,
    #form-url {
        width: 60%;
    }

    #form-quote {
        height: 90px;
    }

    @include desktop {
        // background-color: yellow;
        width: 666px;
        max-width: 1080px;
        margin: 0 auto;


        &::before {

            content: '\f10d';
            font-family: 'FontAwesome';
            font-weight: 900;
            position: absolute;
            top: 235px;
            left: 25px;


            // transform: translateY(-50%);
            font-size: 125px;
            color: $brand-green;
        }

        &::after {
            content: '\f10e';
            font-family: 'FontAwesome';
            font-weight: 900;
            position: absolute;
            top: 235px;
            right: 25px;

            // transform: translateY(-50%);
            font-size: 125px;
            color: $brand-green;
        }

    }


}

.hidden-message {
    font-family: $base-font-text;
    color: yellow;
    display: none;
    text-align: center;
}