.archive-page {

  padding-bottom: 75px;
  line-height: 2rem;

  h1 {
    font-size: 2em;
    line-height: 49px;
    font-weight: 700;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  a {
    font-family: $base-font-text;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-right: 10px;
    text-decoration: none;
  }

  @include tablet {

    a {
      font-size: 20px;
      line-height: 30px;
    }

  }

  @include desktop {
    // background-color: yellow;
    width: 666px;
    max-width: 1080px;
    margin: 0 auto;

    a {
      font-size: 20px;
      line-height: 30px;
    }

    &::before {

      content: '\f10d';
      font-family: 'FontAwesome';
      font-weight: 900;
      position: absolute;
      top: 315px;
      left: 25px;

      font-size: 125px;
      color: $brand-green;
      // transform: translateY(-50%);
    }

    &::after {
      content: '\f10e';
      font-family: 'FontAwesome';
      font-weight: 900;
      position: absolute;
      top: 315px;
      right: 25px;

      font-size: 125px;
      color: $brand-green;
      // transform: translateY(-50%);
    }

  }

}