.archive-page {
  // background-color: orange;
  // width: 600px;
  // margin-left: 2rem;
  padding-bottom: 75px;
  line-height: 2rem;
  // margin: 0 0 1.3rem 3rem;


  h1 {
    font-size: 2rem;
    padding: 25px 0;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    // margin: 25px 0;
  }

  a {
    font-family: $base-font-text;
    padding-right: 10px;
    text-decoration: none;
  }
}