.random-quote-home-page {
  color: white;

  p {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .author {
    margin-bottom: 1.5rem;
    font-weight: 400;
  }

  .quote-section {
    // background-color: pink;
    display: flex;
  }

  //quote-button was here


}