//
//
#quote-button {
    font-family: $base-font-heading;
    font-size: 1rem;
    font-weight: 400;
    background: $color-main-background;
    border: 2px solid $brand-green;
    border-radius: 3px;
    color: $brand-green;
    line-height: 20px;

    margin-top: 3rem;
    padding: .75rem 2.25rem;
    flex-direction: column;

    &:hover {
        cursor: pointer;
        color: yellow;
    }

    @include desktop {
        font-size: 1.25rem;
        padding: .75rem 2.25rem;
        width: 26%;
        margin-left: 37%;
        margin-right: 37%;

    }
}