//
//
#quote-button {
    background: $color-main-background;
    border: 2px solid $brand-green;
    border-radius: 3px;
    color: $brand-green;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 3rem;
    padding: .75rem 2.25rem;
    flex-direction: column;

    &:hover {
        cursor: pointer;
        color: blue;
    }
}