footer {
  margin-top: 6rem;

  .menu {
    display: flex;
  }

  .company-info p,
  .company-info a {
    display: inline;
  }

  p {
    color: white;
  }

  a {
    color: $brand-green;
    text-decoration: none;
  }

  #menu-item-210 a {
    color: yellow;
  }
}