header {
  background-color: $color-main-background;

  margin-top: 3rem;

  .image-wrapper {
    max-width: 100%;

    img {
      display: block;
      width: 300px;

      @include tablet {
        width: 500px;
      }

      @include desktop {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
      }

    }


  }
}