.nav-links {

    // background-color: blue;

    .page-numbers {
        color: red;
    }

    .current {
        color: yellow;
    }

    .prev {
        color: orange;
    }

    &:hover {
        cursor: pointer;
    }

}