// .nav-links {


//     .page-numbers {
//         color: red;
//     }

//     .current {
//         color: yellow;
//     }

//     .prev {
//         color: orange;
//     }

//     &:hover {
//         cursor: pointer;
//     }

// }

.number-pagination {
    margin-top: 3rem;
    font-family: $base-font-text;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;

    a {
        text-decoration: none;
    }

}