html {
  --base-spacing: $base-spacing;
}

body {
  margin: $base-margin;
  max-width: 1080px;
  padding: 2.5%;
  width: 100%;

  background: $color-main-background;
  font-family: $font-main;
  line-height: $base-line-height;
}

// ////David, is this used?
// .primary-menu {
//   font-size: $base-font-size;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  // font-family: $font-main;
  letter-spacing: 2px;
}
